body{
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
}
#welcome-section{
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}
#welcome-section::after{
  content: "";
  background: url(img/background.jpg);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 100%;
}
#description{
  position: absolute;
  color: #F8F8F8;
  text-shadow: 2px 2px black;
  opacity: 1;
}
#my-picture{
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  position: absolute;
  height: 15em;
  right: 0;
  bottom: 0;
}


#navbar{
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #343434;
  padding: 0.4vw;
  text-align: right;
}
navbar a{
  text-decoration: none;
  color: #F8F8F8;
  padding: 4vw;
}
h1{
  font-size: 20vh;
}
p{
  font-size: 10vh;
}
#projects{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  margin-left: 10vw;
}
.project-tile{
  text-align: center;
  text-decoration: none;
  color: #343434;
  border: solid;
}
.project-tile img{
  width: 90%;
}
.contact-link{
  display: inline-block;
  border-radius: 50%;
  background-color: #343434;
  text-decoration: none;
  color: #F8F8F8;
  width: 9em;
  height: 9em;
  line-height:9em;
  text-align: center;
}
@media (max-width: 900px) {
  #welcome-section{
    height: 50vh;
    width: 100%;
    display: flex;
    color: #F8F8F8;
  }
  #welcome-section::after{
    content: "";
    background: url(img/background.jpg);
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 100%;
  }
  #my-picture{
    height: 10em;
  }
  h1{
    font-size: 8vw;
  }
  p{
    font-size: 4vw;
  }
}
