body{
  margin: 0;
  font-family: Consolas, monospace;
}
#welcome-section{
  height: 100vh;
  width: 100%;
  background-color: #343434;
  display: flex;
  color: #F8F8F8;
}
#welcome-image{
  height: 100%;
  opacity: 0.6;
  margin: 0 5vw 0 0;
}
#navbar{
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #343434;
  padding: 0.4vw;
  text-align: right;
}
navbar a{
  text-decoration: none;
  color: #F8F8F8;
  padding: 4vw;
}
h1{
  font-size: 20vh;
}
p{
  font-size: 10vh;
}
#projects{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  margin-left: 10vw;
}
.project-tile{
  text-align: center;
  text-decoration: none;
  color: #343434;
  border: solid;
}
.project-tile img{
  width: 90%;
}
.contact-link{
  display: inline-block;
  border-radius: 50%;
  background-color: #343434;
  text-decoration: none;
  color: #F8F8F8;
  width: 9em;
  height: 9em;
  line-height:9em;
  text-align: center;
}
@media (max-width: 900px) {
  #welcome-section{
    height: 50vh;
    width: 100%;
    background-color: #343434;
    display: flex;
    color: #F8F8F8;
  }
  #welcome-image{
    height: 50vh;
  }
  h1{
    font-size: 8vw;
  }
  p{
    font-size: 4vw;
  }
}